<div class="dialog-container">
  <h1 mat-dialog-title>Slavery in America, 1619</h1>
  <div mat-dialog-content>
    <p>The first 19 or so Africans to reach the British colonies arrived in Point Comfort, Virginia, near Jamestown, in 1619, brought by British privateers who had seized them from a captured Portuguese slave ship. Slaves were usually baptized in Africa before embarking.
    </p>
    <a href="w">Link</a>,
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Previous</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Next</button>
  </div>
</div>
