a {
    outline: none;
}

h1 {
    margin-bottom: 0px;
}

h1.mat-dialog-title {
    max-height: 65px;
    overflow: scroll;
}

div.mat-dialog-content {
    max-height: 200px;
    margin: 10px 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

div.button-container {
    padding-top: 10px;
}

div.citations-container {
    width: 100%;
}
