.viz {
    width: 100%;
    height: 75%;
}

h1 {
    color: black;
    font-family: 'open-sans-light';
    margin: 0;
    padding: 15px 10px 10px 50px;
}

h2 {
    color: black;
    font-family: 'open-sans-light';
    margin: 0;
    padding: 0px 10px 10px 50px;
}
