.header {
    background: rgb(34,34,34);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 20px 8px 20px;
}

.header .user {
    font-family: 'open-sans';
    color: white;
}
