.header {
    background: rgb(34,34,34);
    width: 100%;
    padding: 8px 20px 8px 20px;
}

.header .user {
    font-family: 'open-sans-bold';
    color: white;
}

.twitter {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
