.folder-table {
    width: 100%;
}

.table-header {
    font-family: 'open-sans';
    border-bottom-color: #fafafa;
    font-size: medium;
    color: black;
}

.table-body {
    font-family: 'open-sans-light';
    border-bottom-color: #fafafa;
    font-size: medium;
    color: black;
}

.table-row:hover {
    background: rgb(232,240,254);
    cursor: pointer;
}

.even-row {
    background: #fafafa;
}
