.tile {
    margin: 20px;
    width: 100px;
    height: 120px;
    padding: 25px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 8px;
    line-height: 20px;
    color: white;
}

.tile:hover {
    background: #a7a7a773;
}

img {
    width: 48px;
    height: 48px;
}
