.map {
    height: 100%;
}

.button {
    z-index: 2;
}

.about-box {
    position: absolute;
    bottom: .5em;
    left: .5em;
    background: white;
    width: 80%;
    height: 20%;
    border-radius:8px;
    border-top-width:1.33333px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
}
